.rubrikButton:hover{
	
-fx-background-color: rgba(255,255,255,0.9);

}


.rubrikButton:pressed{
	
-fx-background-color: #86c232;

}


.rubrikButton{
	
-fx-text-fill: white;	
-fx-background-color: rgba(255,255,255,0.6);
	
}

