/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.filmCardPane{
	-fx-background-color: lightblue;
}
.rubrikBox{
	-fx-spacing: 1em;
}
.menuIcon{
	-fx-background-color: transparent; 
	-fx-border-color: transparent;
}
.black {
   -fx-background: #222629;
   -fx-border-color: #222629;
}